.contributor-header {
  position: fixed;
  width: 100%; }

.contributor-guide-background {
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  background-image: url("../img/axiom-bw.jpg");
  background-blend-mode: saturation;
  background-position: center;
  opacity: 0.2;
  position: fixed;
  z-index: -5; }

.contributor-guide-container {
  padding: 0; }

.contributor-guide {
  font-family: Helvetica, serif;
  padding: 80px 50px; }

.contributor-guide p {
  font-size: 16px;
  line-height: 20px; }

.contributor-guide ul,
.contributor-guide ol {
  line-height: 20px;
  font-size: 16px; }

.contributor-guide ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none; }

.contributor-guide > ul > li {
  width: 130px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin: 20px;
  transition: 0.5s; }

.contributor-guide > ul > li:hover {
  box-shadow: 2px 2px 3px black; }

.external-logo {
  width: 100px;
  height: 100px;
  margin: 15px; }

.php-logo {
  padding: 3px 0; }

.external-logo-text {
  text-align: center; }

.repo-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px; }

.link-reset > .repo-button {
  display: inline;
  margin: 50px; }

@media all and (max-width: 960px) {
  .link-reset > .repo-button {
    font-size: 16px;
    margin: 20px;
    display: block; } }
@media all and (max-width: 660px) {
  .link-reset > .repo-button {
    display: block; } }
.header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  text-shadow: 1px 1px 2px white;
  color: black;
  transition: top 0.5s; }

.slideOff {
  top: -50px; }

.nav-logo {
  font-size: 50px; }

.nav-container {
  height: 50px;
  display: flex;
  justify-content: flex-end; }

.nav-container > .hamburger-btn {
  display: none; }

.nav > .nav-item {
  display: inline;
  font-size: 18px;
  line-height: 20px; }

.nav {
  display: flex;
  justify-content: flex-end; }

.nav > .nav-item > a,
#docs {
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 10px;
  transition: 0.5s; }

#docs {
  width: 157px;
  height: 40px; }

#docs:hover {
  background-color: #f6f6f6; }

.submenu {
  display: none;
  opacity: 0;
  position: relative;
  top: -10px;
  left: -20px;
  height: 85px;
  width: 160px;
  list-style: none;
  background-color: darkgrey;
  padding-left: 10px;
  margin-top: 20px;
  transition: display 1ms opacity 0.5s; }

.submenu-item {
  padding: 10px 0;
  transition: 0.5s; }

#docs:hover .submenu,
.submenu:hover .submenu {
  display: block;
  opacity: 1; }

@media all and (max-width: 800px) {
  .nav {
    display: block;
    width: 175px;
    background-color: darkgrey;
    position: fixed;
    right: -200px;
    top: 50px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 1s; }

  .hamburger-show {
    right: 0; }

  .nav > .nav-item {
    display: block; }

  #docs {
    width: 100%; }

  .nav > .nav-item > a,
  #docs {
    margin-top: 0; }

  #docs:hover .submenu {
    right: 0;
    left: 150px;
    top: -40px; }
  #docs:hover .hamburger-show {
    right: 160px; }

  .nav-container > .hamburger-btn {
    display: block;
    padding: 0 20px;
    font-size: 25px; }

  .nav-container > .hamburger-btn:hover {
    background-color: #f6f6f6; }

  .hamburger-btn-open,
  .hamburger-btn-close {
    position: fixed;
    right: 24px;
    opacity: 0;
    transition: 0.5s; }

  .hamburger-btn-close {
    font-size: 27px; }

  .hamburger-btn-show {
    opacity: 1; } }
.footer {
  height: 150px;
  background-color: black; }

.nav-footer {
  display: flex;
  justify-content: space-around; }

.nav-footer > li {
  list-style: none;
  padding: 20px; }

.nav-footer > li > a {
  padding: 20px;
  font-size: 25px; }

.nav-footer > li > a:hover {
  background-color: #f6f6f6; }

.contact {
  text-align: center; }

@media all and (max-width: 900px) {
  .nav-footer > li > a {
    display: none; } }
* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: "Alegreya", serif;
  max-width: 1200px; }

.flex {
  display: flex;
  justify-content: space-around; }

.cls-1 {
  fill: #2e3192; }

.cls-2 {
  fill: #00a651; }

.cls-3 {
  fill: #00aeef; }

.cls-4 {
  fill: #ec008c; }

.section {
  padding: 5px 0; }

.hero {
  height: 660px;
  background-color: teal;
  text-align: center;
  color: white; }

.casium-logo {
  display: block;
  width: 300px;
  margin: 90px auto; }

.hero-text {
  margin: 150px 0 50px;
  font-size: 120px; }

.hero-sub-text {
  margin: 10px auto;
  font-size: 39px;
  max-width: 850px; }

.hero-sub-text-sm {
  font-size: 18px; }

.hero-button-container {
  display: flex;
  justify-content: center; }

.hero-link {
  margin: 20px; }

.intro {
  width: 70%;
  max-width: 650px;
  margin: 50px auto 20px;
  font-size: 18px;
  text-align: center; }

.button {
  width: 215px;
  padding: 15px 30px;
  margin: 50px auto 60px;
  background-color: teal;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center; }

.button-inverse {
  background-color: white;
  color: teal;
  margin: 0; }

.link-reset,
.link-reset:hover,
.link-reset::after {
  text-decoration: none;
  color: inherit; }

.why-container {
  display: flex; }

.why-reason {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
  opacity: 0;
  transition: 1s; }

.why-screenshots {
  width: 50%;
  min-width: 300px; }

.why-screenshot {
  width: 300px;
  height: 240px;
  background-color: firebrick; }

.icon {
  margin: 10px;
  font-size: 50px;
  text-align: center;
  transition: 0.5s; }

.why-reason:hover .icon {
  text-shadow: 2px 2px 3px teal; }

.why-reason-text {
  text-align: left;
  max-width: 300px;
  min-height: 90px;
  display: inline-block;
  vertical-align: top; }

.demo {
  background-color: white;
  font-size: 100px;
  text-align: center;
  margin: 200px; }

.about {
  background-color: #2a2a2a; }

.ai-container {
  text-align: center;
  color: white; }

.ai-thanks {
  width: 60vw;
  min-width: 290px;
  font-size: 30px;
  margin: 100px auto 0; }

.ai-text {
  width: 100%;
  display: block;
  font-size: 50px; }

.ai-brand {
  height: 200px;
  width: 200px;
  margin: 50px auto; }

.fill {
  fill: white; }

/*# sourceMappingURL=styles.css.map */
