* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: 'Alegreya', serif;
  max-width: 1200px;
  line-height: 2em; }

a {
  color: #eb008b; }

.clear {
  clear: both; }

section {
  padding: 5px 0; }

#intro {
  max-width: 1200px;
  font-size: 1.6em;
  text-align: left;
  margin: 50px 25% 50px 150px;
  line-height: 1.6em; }

@media all and (max-width: 800px) and (min-width: 600px) {
  #intro {
    margin: 50px 15% 50px 100px; } }
@media all and (max-width: 600px) and (min-width: 500px) {
  #intro {
    margin: 50px 10% 50px 60px; } }
@media all and (max-width: 500px) {
  #intro {
    margin: 50px 5% 50px 30px; } }
#intro p:first-child:first-letter {
  float: left;
  font-size: 3.6em;
  line-height: .7;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 0px; }

.button {
  width: 215px;
  padding: 15px 30px;
  margin: 50px auto 60px;
  background-color: #fff;
  color: #23a7ea;
  font-size: 20px;
  text-align: center;
  transition: all 0.4s;
  border-radius: 4px; }

.button:hover {
  box-shadow: 4px 4px 0px #23a7ea; }

.link-reset,
.link-reset:hover,
.link-reset::after {
  text-decoration: none;
  color: inherit; }

.link-visible {
  text-decoration: none; }

.why {
  background-color: #f3f3f3; }

.why h1 {
  text-align: center;
  padding-top: 50px; }

.why-container {
  display: flex;
  padding: 50px 0 100px 0; }

.why-reason {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  opacity: 0;
  transition: text-shadow 0.5s, opacity 1s; }

.icon {
  margin-top: 10px;
  font-size: 6.5em;
  text-align: center;
  transition: 0.2s;
  width: 20%; }

.fa-cubes, .fa-anchor {
  font-size: 5em; }

.why-reason-text {
  text-align: left;
  text-size: 1em;
  width: 60%;
  min-height: 65px;
  display: inline-block;
  vertical-align: top;
  line-height: 2em;
  padding-bottom: 20px; }

.why-reason-text strong {
  font-size: 1.2em; }

.demo {
  font-size: 40px;
  padding-left: 100px;
  margin: 50px 0; }

.redux-comparison {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }

#redux-example {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 687px; }

#casium-example {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }

.hidden {
  display: none; }

.block {
  display: block; }

.fill {
  fill: white; }

.advantages-container {
  background-color: #f3f3f3;
  text-align: left;
  padding-top: 40px;
  padding-left: 5%; }

.advantages-container h1 {
  padding-left: 10px; }

.advantage {
  max-width: 45%;
  min-width: 300px;
  margin: 20px;
  display: inline-block; }

.advantage-icon {
  font-size: 50px;
  margin: 10px 10px 10px 0;
  width: 50px; }

.advantage-title {
  font-weight: bold;
  font-size: 20px;
  display: inline; }

.advantage-text {
  font-size: 16px;
  max-width: 510px; }

.advantage-link:hover {
  color: #caebf2; }

.link-icon-slide {
  animation: bounce 1s; }

.link-icon {
  padding-left: 5px;
  font-size: 16px;
  position: relative; }

@keyframes bounce {
  0% {
    left: 0px; }
  40% {
    left: 60px; }
  100% {
    left: 0px; } }
@media all and (max-width: 900px) {
  .advantage {
    width: 70%;
    max-width: 600px;
    min-width: 300px;
    margin: 20px 0;
    padding: 0 5px; } }
.switch {
  font: 11px arial;
  position: relative;
  display: block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  box-sizing: content-box; }

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box; }

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 12px;
  text-transform: uppercase;
  background: #eb008b;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing: content-box; }

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box; }

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #fff; }

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0; }

.switch-input:checked ~ .switch-label {
  background: #ffa616;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2); }

.switch-input:checked ~ .switch-label:before {
  opacity: 0; }

.switch-input:checked ~ .switch-label:after {
  opacity: 1; }

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02); }

.switch-input:checked ~ .switch-handle {
  left: 74px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2); }

/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease; }

.cg-header {
  position: fixed;
  width: 100%; }

.cg-container {
  padding: 0; }

.cg {
  font-family: Helvetica, serif;
  padding: 80px 50px; }

.cg-heading {
  text-align: center; }

.cg-title {
  display: block;
  font-size: 30px;
  margin: 10px; }

.cg-ai {
  display: block;
  font-size: 20px; }

.cg p {
  font-size: 16px;
  line-height: 20px; }

.cg ul,
.cg ol {
  line-height: 20px;
  font-size: 16px; }

.cg ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none; }

.external-logo-container {
  width: 130px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  transition: 0.5s; }

.external-logo-container:hover {
  box-shadow: 2px 2px 10px black; }

.external-logo {
  width: 100px;
  height: 100px;
  margin: 15px; }

.php-logo {
  padding: 3px 0; }

.external-logo-text {
  text-align: center; }

.repo-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px; }

.link-reset > .repo-button {
  display: inline;
  margin: 50px;
  background-color: #CBE7EF; }

@media all and (max-width: 960px) {
  .link-reset > .repo-button {
    font-size: 16px;
    margin: 20px;
    display: block; } }
@media all and (max-width: 660px) {
  .link-reset > .repo-button {
    display: block; } }
.header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  transition: top 0.5s;
  background: #eb008b;
  background: -moz-linear-gradient(-45deg, #eb008b 0%, #23a7ea 100%);
  background: -webkit-linear-gradient(-45deg, #eb008b 0%, #23a7ea 100%);
  background: linear-gradient(135deg, #eb008b 0%, #23a7ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#23a7ea',GradientType=1 ); }

.slideOff {
  top: -50px; }

.nav-logo {
  width: 135px;
  padding-top: 15px; }

.nav-container {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  float: right; }

.nav-container > .hamburger-btn {
  display: none; }

.nav > .nav-item {
  display: inline;
  font-size: 18px;
  line-height: 20px; }

.nav {
  display: flex;
  justify-content: flex-end; }

.nav > .nav-item > a,
#docs {
  padding: 10px 20px;
  margin-top: 5px;
  transition: 0.15s; }

#docs {
  width: 157px;
  height: 40px; }

#docs:hover {
  background-color: white; }

.submenu {
  opacity: 0;
  display: none;
  position: relative;
  height: 80px;
  width: 157px;
  top: -10px;
  left: -20px;
  list-style: none;
  background-color: white;
  padding-left: 0px;
  margin-top: 20px;
  transition: all 0.15s; }

.submenu-item {
  display: block;
  padding: 10px 0 10px 20px;
  transition: 0.15s; }

#docs:hover .submenu,
.submenu:hover .submenu {
  display: block;
  opacity: 1; }
#docs:hover .submenu-item:hover,
.submenu:hover .submenu-item:hover {
  background-color: white;
  color: #eb008b; }

@media all and (max-width: 800px) {
  .nav {
    display: block;
    width: 175px;
    background-color: white;
    position: fixed;
    right: -200px;
    top: 50px;
    transition: .1s; }

  .hamburger-show {
    right: 0; }

  .nav > .nav-item {
    display: block; }

  #docs {
    width: 100%; }

  .nav > .nav-item > a,
  #docs {
    margin-top: 0; }

  #docs:hover .submenu {
    left: -177px;
    top: -50px; }
  #docs:hover .hamburger-show {
    right: 160px; }

  .nav-container > .hamburger-btn {
    display: block;
    padding: 0 20px;
    font-size: 25px; }

  .nav-container > .hamburger-btn:hover {
    background-color: white; }

  .hamburger-btn-open,
  .hamburger-btn-close {
    position: fixed;
    right: 24px;
    opacity: 0;
    transition: 0.2s; }

  .hamburger-btn-close {
    font-size: 27px; }

  .hamburger-btn-show {
    opacity: 1; } }
.hero {
  background: #f9f9f9;
  background: -moz-linear-gradient(-45deg, #f9f9f9 15%, #c6c6c6 100%);
  background: -webkit-linear-gradient(-45deg, #f9f9f9 15%, #c6c6c6 100%);
  background: linear-gradient(135deg, #f9f9f9 15%, #c6c6c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#c6c6c6',GradientType=1 );
  text-align: left;
  padding: 5px 0 20px; }

.hero-logo-container {
  margin: 90px 0 30px 12%; }

.casium-logo {
  display: block;
  width: 230px; }

.hero-text-container {
  margin: 3% 0 3% 12%; }

.hero-text {
  margin: 150px 0 50px;
  font-size: 120px; }

.hero-sub-text-sm {
  font-size: 18px; }

.hero-sub-text {
  margin: 0;
  font-size: 39px;
  max-width: 850px; }

.hero-button {
  display: inline-block;
  margin: 20px 20px 0 0; }

@media all and (max-width: 900px) {
  .casium-logo {
    margin: 100px auto 30px; }

  .hero-text-container {
    margin: 0 auto;
    width: 80%; }

  .hero-sub-text {
    font-size: 30px; }

  .hero-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }
.footer {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  background-color: #a9a9a9; }

.nav-footer {
  display: inline-block; }

.nav-footer > li {
  list-style: none;
  margin: 2px 0; }

.nav-footer > li > a {
  padding: 5px;
  font-size: 18px; }

.nav-footer > li > a:hover {
  color: #caebf2; }

.logo-copyright-container {
  width: 255px; }

.footer-casium-logo {
  width: 80px; }

.copyright-container {
  width: 255px;
  clear: left; }

.copyright-ai {
  margin-top: 20px; }

.contact {
  text-align: center;
  font-size: 20px; }

@media all and (max-width: 800px) {
  .nav-footer > li > a {
    font-size: 15px; } }
@media all and (max-width: 550px) {
  .nav-footer > li > a {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
