.contributor-header {
  position: fixed;
  width: 100%; }

.contributor-guide-background {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/axiom-bw.jpg");
  background-blend-mode: saturation;
  background-position: center;
  opacity: 0.2;
  position: fixed;
  z-index: -5; }

.contributor-guide-container {
  padding: 0; }

.contributor-guide {
  font-family: Helvetica, serif;
  padding: 80px 50px; }

.contributor-guide p {
  font-size: 16px;
  line-height: 20px; }

.contributor-guide ul,
.contributor-guide ol {
  line-height: 20px;
  font-size: 16px; }

.contributor-guide ul {
  list-style: none; }

.header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  text-shadow: 1px 1px 2px white;
  color: black;
  transition: top 0.5s; }

.hide {
  top: -50px; }

.nav-logo {
  font-size: 50px; }

.nav-container {
  height: 50px;
  display: flex;
  justify-content: flex-end; }

.nav {
  justify-content: flex-end; }

.nav-item {
  display: inline;
  padding: 5px 0; }

.nav-link {
  font-size: 18px;
  line-height: 20px; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: "Alegreya", serif;
  max-width: 1200px; }

.section {
  padding: 5px 0; }

.hero {
  height: 660px;
  background-image: url(../img/Axiom_ship.jpg);
  background-size: auto;
  background-position: center;
  text-align: center;
  color: white; }

.hero-text {
  margin: 40px 0;
  font-size: 140px; }

.hero-sub-text {
  margin: 290px 0;
  font-size: 54px; }

.intro {
  width: 50%;
  max-width: 500px;
  margin: 50px auto 20px;
  font-size: 18px;
  text-align: center; }

.button {
  width: 215px;
  padding: 15px 30px;
  margin: 50px auto 60px;
  background-color: #0000f1;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center; }

.link-reset {
  text-decoration: none;
  color: inherit; }

.link-reset:hover {
  text-decoration: none;
  color: inherit; }

.why-container {
  display: flex; }

.why-reason {
  margin: 2em 0; }

.why-screenshots {
  width: 50%;
  min-width: 300px; }

.why-screenshot {
  width: 300px;
  height: 240px;
  background-color: firebrick; }

.icon {
  margin: 10px;
  font-size: 100px;
  width: 100%;
  text-align: center;
  transition: 0.5s; }

.why-reason:hover .icon {
  text-shadow: 2px 2px 3px #0000f1; }

.why-reason-text {
  text-align: center;
  max-width: 300px;
  margin: 15px auto; }

.demo {
  background-color: white;
  font-size: 100px;
  text-align: center;
  margin: 200px; }

.about {
  height: 700px;
  background-color: #2a2a2a; }

.ai-container {
  text-align: center;
  color: white; }

.ai-thanks {
  width: 60%;
  font-size: 30px;
  margin: 100px 20% 0; }

.ai-text {
  width: 100%;
  display: block;
  font-size: 50px; }

.ai-brand {
  height: 200px;
  width: 200px;
  margin: 50px auto; }

.fill {
  fill: white; }

.footer {
  height: 300px;
  background-color: black; }

.nav-footer {
  display: flex;
  justify-content: flex-start; }

.nav {
  display: flex;
  justify-content: flex-start; }

/*# sourceMappingURL=styles.css.map */
