.contributor-header {
  position: fixed;
  width: 100%;
}
.contributor-guide-container {
  padding: 0;
}
.contributor-guide {
  font-family: Helvetica, serif;
  padding: 80px 50px;
}
.contributor-guide p {
  font-size: 16px;
  line-height: 20px;
}

.contributor-guide ul,
.contributor-guide ol {
  line-height: 20px;
  font-size: 16px;
}
.contributor-guide ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.external-logo-container {
  width: 130px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: lighten($theme-color-2, 30%);
  margin: 20px;
  transition: 0.5s;
}
.external-logo-container:hover {
  box-shadow: 2px 2px 10px black;
}
.external-logo {
  width: 100px;
  height: 100px;
  margin: 15px;
}
.php-logo {
  padding: 3px 0;
}
.external-logo-text {
  text-align: center;
}
.repo-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
}
.link-reset > .repo-button {
  display: inline;
  margin: 50px;
  background-color: $theme-color-2;
}
@media all and (max-width: 960px) {
  .link-reset > .repo-button {
    font-size: 16px;
    margin: 20px;
    display: block;
  }
}
@media all and (max-width: 660px) {
  .link-reset > .repo-button {
    display: block;
  }
}
