.header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  height: 50px;
  background-color: $theme-color-2;
  line-height: 50px;
  text-shadow: 1px 1px 2px white;
  color: black;
  transition: top 0.2s;
}
.slideOff {
  top: -50px;
}
.header-casium-logo{
  width: 200px;
  position: relative;
  top: -38px;
  left: -60px;
}
.nav-logo {
  font-size: 50px;
}
.nav-container {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.nav-container > .hamburger-btn {
  display: none;
}
.nav > .nav-item {
  display: inline;
  font-size: 18px;
  line-height: 20px;
}
.nav-link {
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav > .nav-item > a,
#docs {
  padding: 10px 20px;
  margin-top: 5px;
  transition: 0.2s;
}
#docs {
  width: 157px;
  height: 40px;
}
#docs:hover {
  background-color: lighten($theme-color-2, 30%);
}
.submenu {
  opacity: 0;
  display: none;
  position: relative;
  height: 80px;
  width: 157px;
  top: -10px;
  left: -20px;
  list-style: none;
  background-color: $theme-color-2;
  padding-left: 0px;
  margin-top: 20px;
  transition: all 0.2s;
}
.submenu-item {
	display: block;
  padding: 10px 0 10px 20px;
  transition: 0.2s;
}
#docs:hover,
.submenu:hover {
  .submenu {
    display: block;
    opacity: 1;
  }
  .submenu-item:hover {
    background-color: lighten($theme-color, 30%);
  }
}

@media all and (max-width: 800px) {
  .nav {
    display: block;
    width: 175px;
    background-color: $theme-color-2;
    position: fixed;
    right: -200px;
    top: 50px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 1s;
  }
  .hamburger-show {
    right: 0;
  }
  .nav > .nav-item {
    display: block;
  }
  #docs {
    width: 100%;
  }
  .nav > .nav-item > a,
  #docs {
    margin-top: 0;
  }
  #docs:hover {
    .submenu {
      left: -190px;
      top: -52px;
    }
    .hamburger-show {
      right: 160px;
    }
  }
  .nav-container > .hamburger-btn {
    display: block;
    padding: 0 20px;
    font-size: 25px;
  }
  .nav-container > .hamburger-btn:hover {
    background-color: lighten($theme-color-2, 30%);
  }
  .hamburger-btn-open,
  .hamburger-btn-close {
    position: fixed;
    right: 24px;
    opacity: 0;
    transition: 0.5s;
  }
  .hamburger-btn-close {
    font-size: 27px;
  }
  .hamburger-btn-show {
    opacity: 1;
  }
}
