.header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  transition: top 0.5s;

background: #eb008b;
background: -moz-linear-gradient(-45deg, #eb008b 0%, #23a7ea 100%);
background: -webkit-linear-gradient(-45deg, #eb008b 0%,#23a7ea 100%);
background: linear-gradient(135deg, #eb008b 0%,#23a7ea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#23a7ea',GradientType=1 );
}


.slideOff {
  top: -50px;
}

.nav-logo {
  width: 135px;
  padding-top: 15px;
}
.nav-container {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  float: right;
}
.nav-container > .hamburger-btn {
  display: none;
}
.nav > .nav-item {
  display: inline;
  font-size: 18px;
  line-height: 20px;
}
.nav-link {
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav > .nav-item > a,
#docs {
  padding: 10px 20px;
  margin-top: 5px;
  transition: 0.15s;
}
#docs {
  width: 157px;
  height: 40px;
}
#docs:hover {
  background-color: white;
}
.submenu {
  opacity: 0;
  display: none;
  position: relative;
  height: 80px;
  width: 157px;
  top: -10px;
  left: -20px;
  list-style: none;
  background-color: white;
  padding-left: 0px;
  margin-top: 20px;
  transition: all 0.15s;
}
.submenu-item {
	display: block;
  padding: 10px 0 10px 20px;
  transition: 0.15s;
}
#docs:hover,
.submenu:hover {
  .submenu {
    display: block;
    opacity: 1;
  }
  .submenu-item:hover {
    background-color: white;
      color: #eb008b;
  }
}

@media all and (max-width: 800px) {
  .nav {
    display: block;
    width: 175px;
    background-color: white;
    position: fixed;
    right: -200px;
    top: 50px;
    transition: .1s;
  }
  .hamburger-show {
    right: 0;
  }
  .nav > .nav-item {
    display: block;
  }
  #docs {
    width: 100%;
  }
  .nav > .nav-item > a,
  #docs {
    margin-top: 0;
  }
  #docs:hover {
    .submenu {
      left: -177px;
      top: -50px;
    }
    .hamburger-show {
      right: 160px;
    }
  }
  .nav-container > .hamburger-btn {
    display: block;
    padding: 0 20px;
    font-size: 25px;
  }
  .nav-container > .hamburger-btn:hover {
    background-color: white;
  }
  .hamburger-btn-open,
  .hamburger-btn-close {
    position: fixed;
    right: 24px;
    opacity: 0;
    transition: 0.2s;
  }
  .hamburger-btn-close {
    font-size: 27px;
  }
  .hamburger-btn-show {
    opacity: 1;
  }
}
