// $theme-color: lighten(salmon, 10%);
// $theme-color-2: salmon;
// $theme-color-3: teal;

$theme-color: #b96646;
$theme-color-2: #e2a878;
$theme-color-3: #317775;
$theme-color-4: #5cb9b4;

// $theme-color: #3c2e3d;
// $theme-color-2: #fdae84;
// $theme-color-3: #ecc7co;
// $theme-color-4: #8bcbc8;
