// $theme-color: lighten(salmon, 10%);
// $theme-color-2: salmon;
// $theme-color-3: teal;

// $theme-color: #317775;
// $theme-color-2: #b96646;
// $theme-color-3: #e2a878;
// $theme-color-4: #5cb9b4;

// $theme-color: #3c2e3d;
// $theme-color-2: #fdae84;
// $theme-color-3: #ecc7co; //purple
// $theme-color-4: #8bcbc8;

// $theme-color: #fc4a1a;
// $theme-color-2: #f7b733;
// $theme-color-3: #dfdce3;
// $theme-color-4: #4abdac;

$theme-color-2: #ff3b3f;
$theme-color: #a9a9a9;
$theme-color-3: #caebf2;

// $theme-color: #d7cec7;
// $theme-color-2: #76323f;
// $theme-color-3: #c09f80;
