@import "variables";
@import "contributor-guide";
@import "header";
@import "footer";

* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	font-family: "Alegreya", serif;
	max-width: 1200px;
}

.section {
	padding: 5px 0;
}
.hero {
	height: 660px;
	background-image: url(../img/Axiom_ship.jpg);
	background-size: auto;
	background-position: center;
	text-align: center;
	color: white;
}
.hero-text {
	margin: 60px 0;
	font-size: 120px;
}
.hero-sub-text {
	margin: 290px auto;
	font-size: 54px;
	max-width: 630px;
}
.intro {
	width: 50%;
	max-width: 500px;
	margin: 50px auto 20px;
	font-size: 18px;
	text-align: center;
}
.button {
	width: 215px;
	padding: 15px 30px;
	margin: 50px auto 60px;
	background-color: $theme-color;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	text-align: center;
}
.link-reset {
	text-decoration: none;
	color: inherit;
}
.link-reset:hover {
	text-decoration: none;
	color: inherit;
}
.why {
}
.why-container {
	display: flex;
}
.why-reason {
	margin: 2em 0;
	opacity: 0;
	transition: 1s;
}

.why-screenshots {
	width: 50%;
	min-width: 300px;
}
.why-screenshot {
	width: 300px;
	height: 240px;
	background-color: firebrick;
}
.icon {
	margin: 10px;
	font-size: 100px;
	width: 100%;
	text-align: center;
	transition: 0.5s;
}
.why-reason:hover {
	.icon {
		text-shadow: 2px 2px 3px $theme-color;
	}
}
.why-reason-text {
	text-align: center;
	max-width: 300px;
	margin: 15px auto;
	min-height: 60px;
}
.demo {
	background-color: lighten($theme-color-2, 50%);
	font-size: 100px;
	text-align: center;
	margin: 200px;
}
.about {
	background-color: darken($theme-color-2, 50%);
}
.ai-container {
	text-align: center;
	color: white;
}
.ai-thanks {
	width: 60vw;
	min-width: 290px;
	font-size: 30px;
	margin: 100px auto 0;
}
.ai-text {
	width: 100%;
	display: block;
	font-size: 50px;
}
.ai-link {
}
.ai-brand {
	height: 200px;
	width: 200px;
	margin: 50px auto;
}
.fill {
	fill: white;
}
