
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Alegreya', serif;
  max-width: 1200px;
  line-height: 2em;
}

a{
  color:#eb008b;
}
.clear{clear:both;}

section {
  padding: 5px 0;
}

#intro {
  max-width: 1200px;
  font-size: 1.6em;
  text-align: left;
  margin: 50px 25% 50px 150px;
  line-height: 1.6em
}

@media all and ( max-width: 800px ) and ( min-width: 600px ){
  #intro{
    margin: 50px 15% 50px 100px;
  }
}
@media all and ( max-width: 600px ) and ( min-width: 500px ){
  #intro{
    margin: 50px 10% 50px 60px;
  }
}
@media all and ( max-width: 500px ){
  #intro{
    margin: 50px 5% 50px 30px;
  }
}

#intro p:first-child:first-letter {
  float: left;
    font-size: 3.6em;
    line-height: .7;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 0px;
}



.button {
  width: 215px;
  padding: 15px 30px;
  margin: 50px auto 60px;
  background-color: #fff;
  color: #23a7ea;
  font-size: 20px;
  text-align: center;
  transition: all 0.4s;
  border-radius: 4px;
}
.button:hover {
  box-shadow: 4px 4px 0px #23a7ea;
}
.link-reset,
.link-reset:hover,
.link-reset::after {
  text-decoration: none;
  color: inherit;
}
.link-visible {
  text-decoration: none;
}
.why {
  background-color: #f3f3f3;

}
.why h1{
  text-align: center;
  padding-top: 50px;
}
.why-container {
  display: flex;
    padding: 50px 0 100px 0;
}
.why-reason {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  opacity: 0;
  transition: text-shadow 0.5s, opacity 1s;
}

.icon {
  margin-top: 10px;
  font-size: 6.5em;
  text-align: center;

  transition: 0.2s;

  width:20%;

}

.fa-cubes, .fa-anchor{
  font-size:5em;}


.why-reason-text {
  text-align: left;
  text-size: 1em;
  width: 60%;
  min-height: 65px;
  display: inline-block;
  vertical-align: top;
  line-height: 2em;
  padding-bottom: 20px;
}
.why-reason-text strong{
  font-size: 1.2em;
}
.demo {
  font-size: 40px;
  padding-left:100px;
  margin: 50px 0;
}
.redux-comparison {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}


#redux-example {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 687px;
}
#casium-example {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.hidden{
  display:none;
}
.block{
  display:block;
}
.fill {
  fill: white;
}

.advantages-container {
  background-color: #f3f3f3;
  text-align: left;
  padding-top:40px;
  padding-left: 5%;
}

.advantages-container h1 {
  padding-left:10px;

}
.advantage {
    max-width: 45%;
    min-width: 300px;
    margin: 20px;
    display: inline-block;
}
.advantage-icon {
  font-size: 50px;
  margin: 10px 10px 10px 0;
  width: 50px;
}
.advantage-title {
  font-weight: bold;
  font-size: 20px;
  display: inline;
}
.advantage-text {
  font-size: 16px;
  max-width: 510px;
}
.advantage-link:hover {
  color: $theme-color-3;
}
.link-icon-slide {
	animation: bounce 1s;
}
.link-icon {
  padding-left: 5px;
  font-size: 16px;
  position: relative;
}
@keyframes bounce {
  0% {
    left: 0px;
  }
  40% {
    left: 60px;
  }
  100% {
    left: 0px;
  }
}
@media all and (max-width: 900px) {
  .advantage {
    width: 70%;
    max-width: 600px;
    min-width: 300px;
    margin: 20px 0;
    padding: 0 5px;
  }
}
@import 'toggle';
@import 'contributor-guide';
@import 'header';
@import 'hero';
@import 'footer';
