@import "variables";
@import "contributor-guide";
@import "header";
@import "footer";

* {
	box-sizing: border-box;
}
// @font-face {
// 	font-family: "shree714";
// 	src: url("../Shree714.ttc") format("ttc");
// }
body {
	margin: 0 auto;
	font-family: "Alegreya", serif;
	// font-family: "shree714";
	max-width: 1200px;
}
.flex {
	display: flex;
	justify-content: space-around;
}
.cls-1 {
	fill: #2e3192;
}
.cls-2 {
	fill: #00a651;
}
.cls-3 {
	fill: #00aeef;
}
.cls-4 {
	fill: #ec008c;
}

.section {
	padding: 5px 0;
}
.hero {
	height: 660px;
	background-color: $theme-color;
	text-align: center;
	color: white;
}
.casium-logo {
	display: block;
	width: 300px;
	margin: 90px auto;
}
.hero-text {
	margin: 150px 0 50px;
	font-size: 120px;
}
.hero-sub-text {
	margin: 10px auto;
	font-size: 39px;
	max-width: 850px;
}
.hero-sub-text-sm {
	font-size: 18px;
}
.hero-button-container {
	display: flex;
	justify-content: center;
}
.hero-link {
	margin: 20px;
}
.intro {
	width: 70%;
	max-width: 650px;
	margin: 50px auto 20px;
	font-size: 18px;
	text-align: center;
}
.button {
	width: 215px;
	padding: 15px 30px;
	margin: 50px auto 60px;
	background-color: $theme-color;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	text-align: center;
}
.button-inverse {
	background-color: white;
	color: $theme-color;
	margin: 0;
}
.link-reset,
.link-reset:hover,
.link-reset::after {
	text-decoration: none;
	color: inherit;
}
.why {
}
.why-container {
	display: flex;
}
.why-reason {
	display: flex;
	justify-content: space-evenly;
	margin: 5px 0;
	opacity: 0;
	transition: 1s;
}

.why-screenshots {
	width: 50%;
	min-width: 300px;
}
.why-screenshot {
	width: 300px;
	height: 240px;
	background-color: firebrick;
}
.icon {
	margin: 10px;
	font-size: 50px;
	text-align: center;
	transition: 0.5s;
}
.why-reason:hover {
	.icon {
		text-shadow: 2px 2px 3px $theme-color;
	}
}
.why-reason-text {
	text-align: left;
	max-width: 300px;
	min-height: 90px;
	display: inline-block;
	vertical-align: top;
}
.demo {
	background-color: lighten($theme-color-2, 50%);
	font-size: 100px;
	text-align: center;
	margin: 200px;
}
.about {
	background-color: darken($theme-color-2, 50%);
}
.ai-container {
	text-align: center;
	color: white;
}
.ai-thanks {
	width: 60vw;
	min-width: 290px;
	font-size: 30px;
	margin: 100px auto 0;
}
.ai-text {
	width: 100%;
	display: block;
	font-size: 50px;
}
.ai-link {
}
.ai-brand {
	height: 200px;
	width: 200px;
	margin: 50px auto;
}
.fill {
	fill: white;
}
